# --- Python genel ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# --- Sanal ortam ---
.venv/
env/
venv/
*.env

# --- Streamlit ---
.streamlit/
*/.streamlit/

# --- İşletim sistemi dosyaları ---
.DS_Store
Thumbs.db
desktop.ini

# --- Videolar, çıktı dosyaları ---
demo.mp4
*.mp4
*.avi
*.mov

# --- Geçici dosyalar ---
*.tmp
*.bak
*.swp

